#Caixa-unica {
    background-color: rgb(231, 140, 3);
    width: 450px;
    height: 250px;
}

.Caixa {
    background-color: rgb(224, 245, 33);
    width: 350px;
    height: 200px;
}
/* Estilo para o container principal*/
